body {
    font-family: 'Work Sans', Verdana, Helvetica, Arial, 'Helvetica Neue Light', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 200;
    font-size: .85em;
    color: #333333;
}
nav ul, footer ul {
    font-family: 'Work Sans', Verdana, Helvetica, Arial, 'Helvetica Neue Light', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    /* margin-right: 20px; */
    font-size: .85em;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #0074FF;
}
a:hover {
    text-decoration: underline;
    color: #FF4848;
}
h1 {
    font-family: 'News Cycle', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-weight: 200;
    font-size: 1.75em;
}
h2 {
    font-family: 'News Cycle', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
}
p {
/*    font-size: .95em; */
    font-size: .85em;
    line-height: 1.25em;
    color: #333;
    font-weight: 300;
}
p.supp {
    font-size: .8em;
    margin-top: .1ex;
    color: #333;
}
blockquote {
    font-weight: 400;
    font-size: .9em;
    color: #515151;
}
ul li {
    font-size: .85em;
    line-height: 1.05em;
    margin-bottom: 10px;
    color: #333;
    font-weight: 300;
}
ol li {
    font-size: .9em;
    line-height: 1.05em;
    margin-bottom: 10px;
    color: #333;
    font-weight: 300;
}
footer {
    border-top: 1px solid #67839B;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}